<main class="app-business-resources">
    <button (click)="redirectToCreate()">Créer</button>
    <br/>
    <br/>
    <app-business-resource-create *ngIf="action=='CREATE_RESOURCE'"></app-business-resource-create>
    <app-business-resources-list *ngIf="action=='GET_RESOURCES'"></app-business-resources-list>
    <app-business-resource-detail *ngIf="action=='SELECT_RESOURCE'"></app-business-resource-detail>
    <br/>
    <br/>
    <button (click)="redirectToList()">Retour à la liste</button>
    <br/>
    <br/>
</main>
