<table>
    <thead>
        <tr>
            <th >Id</th>
            <th >Authority</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="business-authority-item" *ngFor="let businessAuthority of businessAuthorities | async">
            <article (click)="redirectToDetail(businessAuthority)">
                <td>{{businessAuthority.id}}</td>
                <td>{{businessAuthority.authority}}</td>
                <td>
                    <button (click)="redirectToDetail(businessAuthority)">Detail</button>
                </td>
                <td>
                    <button (click)="remove(businessAuthority.id)">Supprimer</button>
                </td> 
            </article>
        </tr>
    </tbody>
</table>
