<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div for="name">Name*</div>
        <input id="name" 
            name="name" 
            type="text" 
            formControlName="name">

        <div *ngIf="form.get('name').invalid">
            <div *ngIf="form.get('name').hasError('required') && form.get('name').touched">Nom est obligatoire</div>
        </div>
    </div>
    
    <br/>
    <div>
        <button type="reset" (click)="onReset()">Cancel</button>
        <button type="submit">Valider</button>
    </div>
</form>