<main class="app-buiness-actions">
    <button (click)="redirectToCreate()">Créer</button>
    <br/>
    <br/>
    <app-business-action-create *ngIf="action=='CREATE_ACTION'"></app-business-action-create>
    <app-business-actions-list *ngIf="action=='GET_ACTIONS'"></app-business-actions-list>
    <app-business-action-detail *ngIf="action=='SELECT_ACTION'"></app-business-action-detail>
    <br/>
    <br/>
    <button (click)="redirectToList()">Retour à la liste</button>
    <br/>
    <br/>
</main>
