<main class="app-business-authorities">
    <button (click)="redirectToCreate()">Créer</button>
    <br/>
    <br/>
    <app-business-authority-create *ngIf="action=='CREATE_AUTHORITY'"></app-business-authority-create>
    <app-business-authorities-list *ngIf="action=='GET_AUTHORITIES'"></app-business-authorities-list>
    <app-business-authority-detail *ngIf="action=='SELECT_AUTHORITY'"></app-business-authority-detail>
    <br/>
    <br/>
    <button (click)="redirectToList()">Retour à la liste</button>
    <br/>
    <br/>
</main>
