<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div for="authority">Authority*</div>
        <input id="authority" 
            name="authority" 
            type="text" 
            formControlName="authority">

        <div *ngIf="form.get('authority').invalid">
            <div *ngIf="form.get('authority').hasError('required') && form.get('authority').touched">Authority est obligatoire</div>
        </div>
        <div *ngFor="let businessAction of businessActions; let i=index">
            <label>
              <input type="checkbox" [value]="businessAction.id" (change)="onCBChange($event)" />
              {{businessAction.label}}
            </label>
        </div>
    </div>

    <br/>
    <div>
        <button type="reset" (click)="onReset()">Cancel</button>
        <button type="submit">Valider</button>
    </div>
</form>