<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div for="firstName">Nom*</div>
        <input id="firstName" 
            name="firstName" 
            type="text" 
            formControlName="firstName">

        <div *ngIf="form.get('firstName').invalid">
            <div *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched">Nom est obligatoire</div>
        </div>
    </div>
    <div>
        <div for="lastName">Prénom*</div>
        <input id="lastName" 
            name="lastName" 
            type="text" 
            formControlName="lastName">

        <div *ngIf="form.get('lastName').invalid">
            <div *ngIf="form.get('lastName').hasError('required') && form.get('lastName').touched">Prenom est obligatoire</div>
        </div>
    </div>
    <div>
        <div for="login">login*</div>
        <input id="login" 
            name="login" 
            type="text" 
            formControlName="login">

        <div *ngIf="form.get('login').invalid">
            <div *ngIf="form.get('login').hasError('required') && form.get('login').touched">Login est obligatoire</div>
        </div>
    </div>
    <div>
        <div for="password">Password</div>
        <input id="password" 
            name="password" 
            type="text" 
            formControlName="password">
    </div>
    <div>
        <div for="email">Email*</div>
        <input id="email" 
            name="email" 
            type="text" 
            formControlName="email">

        <div *ngIf="form.get('email').invalid">
            <div *ngIf="form.get('email').hasError('required') && form.get('email').touched">Email est obligatoire</div>
        </div>
    </div>
    <div>
        <div for="reference">Reference*</div>
        <input id="reference" 
            name="reference" 
            type="text" 
            formControlName="reference">

        <div *ngIf="form.get('reference').invalid">
            <div *ngIf="form.get('reference').hasError('required') && form.get('reference').touched">reference est obligatoire</div>
        </div>
    </div>

    <div>
        <div for="idAuthority">Authority</div>
        <select name="idAuthority" formControlName="idAuthority">
            <option value="0" 
                    [selected]="user.idAuthority === 0">Votre choix</option>
            <option *ngFor="let authority of businessAuthorities" 
                    [selected]=" user.idAuthority === authority.id"
                    [value]="authority.id">{{authority.authority}}</option>
        </select>
        <div *ngIf="form.get('idAuthority').invalid">
            <div *ngIf="form.get('idAuthority').hasError('required') && form.get('idAuthority').touched">Authority est obligatoire</div>
            <div *ngIf="form.get('idAuthority').hasError('min') && form.get('idAuthority').touched">Choisir authority</div>
        </div>
    </div>

    <br/>
    <div>
        <button type="reset" (click)="onReset()">Cancel</button>
        <button type="submit">Valider</button>
    </div>
</form>