<table>
    <thead>
        <tr>
            <th >Id</th>
            <th >name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="business-resource-item" *ngFor="let businessResource of businessResources | async">
            <article (click)="redirectToDetail(businessResource)">
                <td>{{businessResource.id}}</td>
                <td>{{businessResource.name}}</td>
                <td>
                    <button (click)="redirectToDetail(businessResource)">Detail</button>
                </td>
                <td>
                    <button (click)="remove(businessResource.id)">Supprimer</button>
                </td> 
            </article>
        </tr>
    </tbody>
</table>
