<table>
    <thead>
        <tr>
            <th >Id</th>
            <th >Nom</th>
            <th>Prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="product-item" *ngFor="let product of products | async">
            <article (click)="redirectToProductDetail(product)">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button (click)="redirectToProductDetail(product)">Detail</button>
                </td>
                <td>
                    <button (click)="remove(product.id)">Supprimer</button>
                </td> 
            </article>
        </tr>
    </tbody>
</table>

