<table>
    <thead>
        <tr>
            <th >Id</th>
            <th >Nom</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="category-item" *ngFor="let category of categories | async">
            <article (click)="redirectToCategoryDetail(category)">
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>
                    <button (click)="redirectToCategoryDetail(category)">Detail</button>
                </td>
                <td>
                    <button (click)="remove(category.id)">Supprimer</button>
                </td> 
            </article>
        </tr>
    </tbody>
</table>
